<p><b>If you don't see an item that you want to have cleaned that means that we don't offer cleaning services for that item in
your area.</b></p>

<p>If the items that you select here don't match exactly with the items in your bag the dry cleaner will correct the items. You will be charged/refunded accordingly.</p>

<p class="bottomless">The products you see here are from one of our service partners. You can call them if you have further questions on: <a class="link" href="tel:{{shop.phoneNumber}}">{{shop.phoneNumber}}</a></p>