h1.page-title {
  margin-bottom: 16px;
  line-height: 1;
  font-size: 32px;
  position: relative;
}

.signup-button {
  width: 100%;
}

.legal {
  position: relative;
  margin-top: 16px;

  a {
    font-weight: bold;
  }
}

.continue-link {
  position: relative;
}