.forgot-password-link {
  display: block;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 8px;
  // color: white;
  position: relative;
}

h1.page-title {
  margin-bottom: 16px;
  line-height: 1;
  font-size: 32px;
  position: relative;
}

.login-button {
  width: 100%;
}