mat-card {
  margin-bottom: 24px;
}

.list-item {
  &:last-child {
    margin-bottom: 0;
  }
}

.note {
  margin-top: 16px;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.65;
}

.warning-message {
  background-color: var(--accent-color);
  padding: 16px;
  margin-bottom: 16px;
}