table {
  width: 100%;
}

.filter {
  margin: 24px auto;
  display: block;
  width: 200px;
}

.example-container {
  height: 400px;
  width: 550px;
  overflow: auto;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px !important;
}